html {
  margin: auto;
  max-width: 800px;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #fff3f3;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

#blackLogo {
  align-self: center;
}

.navul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8e1616;
}

.navli {
  float: left;
}

.navli a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
}

.navli a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rgb(168, 80, 80);
}

main {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("./images/traffic-332857_1920.jpg");
  background-size: 800px 450px;
  background-repeat: no-repeat;
}

#hInsurance {
  margin-top: 0;
  padding: 30px;
  color: white;
  margin-bottom: 0;
}

#hInput {
  background-color: rgb(250, 250, 250, 0.7);
  width: 550px;
  margin: auto;
  border: 3px grey solid;
}

#hBox {
  text-align: center;
  font-size: 35px;
  margin-top: 0px;
}

.flexyInput {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flexyInput div {
  width: 35%;
}

#submitButton {
  display: flex;
  justify-content: center;
}

#calculate {
  background-color: #339235;
  color: white;
  padding: 10px 30px;
  border-radius: 15px;
  border: none;
  text-decoration: none;
  margin: 25px 2px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 0;
}

#result {
  text-align: center;
  color: #5ea15a;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

#afterInput {
  background-color: #cecece;
  text-align: center;
  padding: 50px;
  position: sticky;
}

#afterInputHeader {
  font-size: 30px;
  margin: 0;
}

#afterInputText {
  margin: 0;
}

#logo-footer {
  margin-top: 30px;
  margin-left: 75%
}

#footer-text {
  color: white;
  text-align: center
}

#beforeFooter {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  padding-top: 80px;
  padding-bottom: 80px;
}

#beforeFooter>div {
  padding: 10px;
  border-top: 1px black solid;
  box-shadow: 1px 0px 10px #e2e1e2, -1px 0px 0px #e2e1e2;
}

.beforeFooterHead {
  color: #414d7c;
  font-size: 45;
}

